body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family:  Arial, sans-serif;
}

.profile_par {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.profile_text {
  width: 60%;
  height: 100vh;
}

.profile_image {
  width: 0;
  height: 0;
  border-right: 100vh solid rgb(1, 10, 88);
	border-bottom: 100vh solid transparent;
  /* background-color: red; */
}
.img{
  width: 35vh;
  height: 35vh;
  border-radius: 35vh;
  /* box-shadow: 5px 5px 5px 5px rgb(45, 55, 145); */
}
.test{
  position: relative;
  width: 35vh;
  margin-left: 60vh;
  margin-top: 10vh;
}
.div_image2{
  border: 1px dashed white;
  width: 35vh;
  height: 35vh;
  border-radius: 5vh;
  position: absolute;
  top: -3px;
  left: -3px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  animation-timing-function: linear;
  transform: rotate(70deg);
}
.div_image1{
  border: 1px dashed white;
  width: 35vh;
  height: 35vh;
  border-radius: 5vh;
  position: absolute;
  top: -3px;
  left: -3px;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction:reverse;
  animation-timing-function: linear;
  transform: rotate(40deg);
}
.div_image{
  border: 1px dashed white;
  width: 35vh;
  height: 35vh;
  border-radius: 5vh;
  position: absolute;
  top: -3px;
  left: -3px;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* animation-direction:alternate-reverse; */
  animation-timing-function: linear;
  transform: rotate(10deg);

}
@keyframes example {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
.div_name{
  margin-top: 30px;
  font-size: 2vw;
  color: white;
  text-align: center;
}
.profile_contact, .profile_experience{
  margin-top: 20px;
  margin-left: 15px;
  width: 47vh;
  animation-name: profileText;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.profile_experience{
  animation-name: profileText;
  animation-duration: 0.8s !important;
}
@keyframes profileText {
  from {margin-left: -250px;}
  to {margin-left: 15px;}
}
.contact_title, .experience_title{
  font-size: 3.5vh;
  color: rgb(1, 27, 255);
  font-weight: bold;
}
.profile_fb:hover{
  background-color: rgb(3, 19, 161);
}
.profile_fb{
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(1, 10, 88);
  padding: 1vw ;
  border-radius: 10px;
}
.fb_icon{
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.fb_link{
  text-decoration: none;
  color: white;
  font-size: 2vh;
  width: 100vh;
}
.experience_decreption{
  color: rgb(3, 19, 161);
  font-size: 2.5vh;
  width: 70vh;
  margin-top: 5px;
}
.font_bold{
  font-weight: bold;
}
